.photo{
padding-top: 110px;

}
.rot{
  padding-right: 60%;
}
.uty{
padding-top: 7%;
  padding-left: 10%;
}
.rty{
padding-top: 7%;
padding-left: 6%;
}
.pty{
  padding-left: 5%;
  padding-top:7%;
}
.sty
{
  padding-left: 5%;
  padding-top:7%;
}
body{
  background-color: #DBD5FB
}
.mon{
  text-align:left;
padding-top: 20%;
}
.lol{
  font-size: 30px;
}
