img.one{
  padding-top: 10px;
}
h1.one{
  padding-top: 180px;
}
.two{
padding-left: 50px;
padding-top: 80px;
}
body {
    background-color:#DBD5FB;
  }
  .unique{
    font-size: 18px;

padding-left:100px;
  }
