li
{
  display: inline;
margin-right: 15px;
font-size: 25px;}
.ree
{
  padding-left: 40%;

}
body{
  background-color: #DBD5FB
}
img{
padding: 12%;
padding-left: 14%;
}
.sed{
  text-align: center;
  font-size: 20px;

}
